<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split subtitle .ass/.srt file</title>
</head>
<body>
    <h1>Split subtitle .ass/.srt file</h1>
    <form action="/" method="post">
        <!-- Render form fields -->
        <div>
            {{ form.sub_text.label }}
            {{ form.sub_text }}
        </div>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
